# django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
/static/

# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv

# vscode
.vscode/
.idea/
*.swp
*.bak

# system files
Thumbs.db
desktop.ini
.DS_Store

# others
diagrama.md
diagrama_entidad_relacion.md